// Type kit fonts (JSick CV kit)

%tisa {
    font-family: "ff-tisa-web-pro", serif;
    font-style: normal;
    font-weight: 400;
}

%tisa-italic {
    font-family: "ff-tisa-web-pro", serif;
    font-style: italic;
    font-weight: 400;
}

%tisa-sans {
    font-family: "ff-tisa-sans-web-pro", sans-serif;
    font-style: normal;
    font-weight: 400;
}

%tisa-sans-bold {
    font-family: "ff-tisa-sans-web-pro", sans-serif;
    font-style: normal;
    font-weight: 700;
}
