// Susy layout with breakpoint phone and large sizes

$susy: (
    flow: rtl,
    math: fluid,
    output: float,
    gutter-position: after,
    container: auto,
    container-position: center,
    columns: 12,
    gutters: .25,
    column-width: 3rem,
    global-box-sizing: content-box,
    last-flow: to,
    debug: (
        image: hide,
        color: rgba(#66f, .25),
        output: background,
        toggle: top right,
    )
);

.cv-container {
    @include container();
    padding: 10px;
    // @include show-grid(overlay);
}

.cv-section {
    @include leader(1);
    @include trailer(1);
    clear: both;
    display: block;
    overflow: auto;
}

.cv-item {
    @include trailer(1);
    clear: both;
    display: block;
    overflow: auto;
}

.h-section {
    @include trailer(1);
}

.cv-header {
    @include leader(1);
    @include trailer(2);
    display: block;
    overflow: auto;
}

.info-col {
    @include trailer(1);
    display: block;
    overflow: auto;
}

.address-col {
    @include trailer(1);
    display: block;
    overflow: auto;
}

@include breakpoint($breakpoint-large) {
    .item-main-col {
        @include span(last 10 of 12);
    }

    .item-meta-col {
        @include span(2 of 12);
    }

    .info-col {
        @include span(last 6 of 12);
        @include trailer(1);
        display: block;
        overflow: auto;
    }

    .address-col {
        @include span(6 of 12);
        @include trailer(1);
        display: block;
        overflow: auto;
    }
}
