{
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "strict",
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "htmlWhitespaceSensitivity": "strict"
      }
    }
  ]
}
