---
title: Jonathan Sick
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- The jsickweb kit --> 
  <script type="text/javascript" src="//use.typekit.net/jxq8dyb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <meta name="viewport" content="width=device-width">
  <link href="/assets/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <title>{{ page.title }}</title>
</head>

<body id="homepage">

<div class="homepagebannerwrapper">
<div class="homepagesitebanner">
<nav class="homepage_bannernav">
<ul>
  <li><a href="http://blog.jonathansick.ca" title="Jonathan Sick's Blog">Blog</a></li>
  <li><a href="http://github.com/jonathansick" title="Jonathan Sick's Public Code Portfolio">GitHub</a></li>
  <li><a href="/publications.html" title="Jonathan Sick's Publications and Talks">Publications</a></li>
</ul>
</nav>
<header class="homepage_header">
<h1 id="responsive-title">Jonathan&nbsp;Sick</h1>
</header> <!-- /.homepage_header -->
</div> <!-- /.homepagesitebanner -->
</div> <!-- /.homepagebannerwrapper -->

<div class="homepage_content">
<section class="homepage_section homepage_info_sec">
  <table border="1">
  <tr>
    <td class="icon-col"><i class="icon-identification-tag"></i></td>
    <td>PhD Candidate</td>
  </tr>
  <tr>
    <td class="icon-col"><i class="icon-museum"></i></td>
    <td>Queen&#8217;s University</td>
  </tr>
  <tr>
    <td class="icon-col"><i class="icon-globe"></i></td>
    <td>Kingston, Ontario</td>
  </tr>
  <tr>
    <td class="icon-col"><i class="icon-paper-aeroplane"></i></dt></td>
    <td><script type="text/javascript">
      //<![CDATA[
      <!--
      var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
          "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
        " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!29{)rt{y+xx=l;=+;" +
            "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
      "\"(7),3\\\"\\\\pz04\\\\07\\\\02\\\\\\\\37\\\\02\\\\00\\\\\\\\5Z02\\\\\\\\05" +
      "\\\\0Y\\\\0T03\\\\\\\\G@W]ET0^00\\\\\\\\^BY_hHELWL4I03\\\\\\\\03\\\\0|\\\\s" +
      "zp={r}ty74aqx|x,L1Qfna}&sX'abu/\\\\r3\\\\02\\\\\\\\31\\\\06\\\\03\\\\\\\\17" +
    "\\\\00\\\\01\\\\\\\\0V03\\\\\\\\04\\\\01\\\\00\\\\\\\\07\\\\02\\\\02\\\\\\\\"+
    "2203\\\\\\\\23\\\\06\\\\00\\\\\\\\35\\\\06\\\\00\\\\\\\\7P00\\\\\\\\22\\\\0" +
    "0\\\\01\\\\\\\\13\\\\01\\\\00\\\\\\\\~306\\\\0e\\\\108 -njv*n%.UJOH30\\\\0@" +
    "\\\\\\\\\\\\\\\\\\\\CUIYBG\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoarchx.e(odr" +
"ChamCro.fngriSt+=;o27=1y%+;y+7)<3(iif){++;i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\"+
  "\"=\\\",o iar{vy)x,f(n ioctun\\\"f)\")"                                      ;
    while(x=eval(x));
    //-->
    //]]>
  </script></td>
  </tr>
  <tr>
    <td class="icon-col"><i class="icon-twitter"></i></td>
    <td><a href="http://twitter.com/jonathansick" title="Twitter page">@jonathansick</a></td>
  </tr>
  <tr>
    <td class="icon-col"><i class="icon-rss"></i></td>
    <td><a href="http://blog.jonathansick.ca" title="My blog">blog.jonathansick.ca</a></td>
  </tr>
  <tr>
    <td class="icon-col"><i class="icon-lab-flask"></i></td>
    <td>Stellar Populations; Galaxy Formation; Solving Problems with Data &amp; Code.</td>
  </tr>
  </table>
  <img src="assets/img/jsick_office.jpg" class="boardered-image" width="100%" alt="Portrait">
  <p>I work on the Andromeda Galaxy at Queen&#8217;s University with <a href="http://www.astro.queensu.ca/people/Stephane_Courteau/main.php">Stéphane Courteau</a>. I did my undergraduate work at Rice University in Houston, Texas (with Prof Dufour). I also did summer research on the GHOSTS nearby galaxy survey with Roelof de Jong at the Space Telescope Science Institute in Baltimore,&nbsp;MD. Going further back, I built a robotic telescope with computer vision and competed in <a href="http://www.societyforscience.org/isef/">Intel International Science &amp; Engineering Fairs</a>, <a href="http://cwsf.youthscience.ca">Canada-Wide-Science Fairs</a> and <a href="http://www.cysf.org">Calgary Youth Science Fairs</a>.</p>
</section>
<section class="homepage_section homepage_androids_sec">
  <h1 class="beta">ANDROIDS</h1>

  <p>I lead the Andromeda Optical and Infrared Disk Survey (ANDROIDS). We&#8217;re using the WIRCam and MegaCam instruments on the Canada-France-Hawaii Telescope to assemble next generation maps of Andromeda&#8217;s stellar populations and structure. Our data set allows us to investigate Andromeda from simultaneously local and global perspectives.</p>

  <p><a href="http://arXiv.org/abs/1303.6290" title="http://arXiv.org/abs/1303.6290">Our first paper</a>, which develops the technical procedures for wide-field near-infrared imaging, is now available as a pre-print. Below: the disk of M31 in near-IR (<em>iJK</em>) bands.</p>

  <img src="assets/img/iJK_crop.jpg" class="boardered-image" width="100%" alt="Section of M31 in near-infrared iJK bands">

  <p>Peering deeper, and with a broader wavelength range, we can better understand the interplay of stellar populations and interstellar medium. Here we see a section of the M31 disk in MegaCam <em>u</em>, WIRCam <em>J</em> and Spitzer 8 µm light:</p>

  <img src="assets/img/42uJ80_crop_fork.jpg" class="boardered-image" width="100%" alt="Section of M31 in near-UV, near-IR and mid-IR bands.">

  <p>ANDROIDS are: myself (Queen&#8217;s; PI), Stéphane Courteau (Queen&#8217;s; PhD Advisor), Jean-Charles Cuillandre (CFHT; MegaCam Guru), Julianne Dalcanton (UW; PHAT), Roelof de Jong (IAP), Raja Guhathakurta (UCSC; SPLASH), Michael McDonald (MIT), and R. Brent Tully (UH IfA).</p>
</section>

<section class="homepage_section homepage_code_sec">
  <h1 class="beta">Code</h1>
  <a href="#" title="MoAstro on Github"><h2 class="gamma item-header">Mo&#8217;Astro</h2></a>
  <p>Derived from <em>MongoDB astronomy</em>, Mo&#8217;Astro is a framework for building observational astronomy pipelines around the schema-less MongoDB data store. With Mo&#8217;Astro, managing the metadata and pipeline state for thousands of observations becomes a bit easier. Mo&#8217;Astro includes hooks into the Astromatic pipeline&nbsp;software.</p>
  <h2 class="gamma item-header">Fractus</h2>
  <p>Delaunay/Voronoi tessellations and adaptive spatial binning for&nbsp;astronomy. Currently in privata beta.</p>
  <h2 class="gamma item-header">Delphinus</h2>
  <p>Python helpers for the <code>DOLPHOT</code> photometry software by Andrew&nbsp;Dolphin. Currently in private beta.</p>
  <h2 class="zeta divider-header">Workflow tools</h2>
  <a href="adsbibdesk/index.html" title="ADS to BibDesk homepage"><h2 class="gamma item-header">ADS to BibDesk</h2></a>
  <p>ADS to BibDesk makes it easy to grab papers and add them to your BibDesk reference&nbsp;manager.</p>
  <a href="https://github.com/jonathansick/sickvim" title="sickvim on GitHub"><h2 class="gamma item-header">sickvim</h2></a>
  <p>My Vim setup, tuned for developing Python. Plugins are installed as <code>Pathogen</code>&nbsp;submodules.</p>
  <a href="https://github.com/jonathansick/dotfiles" title="dotfiles on GitHub"><h2 class="gamma item-header">dotfiles</h2></a>
  <p>My ZSH dotfiles, featuring the <a href="https://twitter.com/jonathansick/status/267390948571480064/photo/1">Sick&nbsp;prompt.</a> I also maintain a Python and Astromatic-centric <a href="https://github.com/jonathansick/dotfiles/wiki/Notes-for-Mac-OS-X">Mac OS X build guide</a> on the wiki.</p>
  <a href="https://github.com/jonathansick/Ssstat" title="Ssstat on GitHub"><h2 class="gamma item-header">Ssstat</h2></a>
  <p>Work with Amazon S3 log files in MongoDB.</p>
  <h2 class="zeta divider-header">Experiments</h2>
  <a href="https://github.com/jonathansick/pySPS" title="pySPS on GitHub"><h2 class="gamma item-header">pySPS</h2></a>
  <p>Python interface to the <em>Flexible Stellar Population Synthesis Package</em> by Conroy, Gunn and&nbsp;White. Future development will be directed towards Dan F-M's version, <a href="https://github.com/dfm/python-fsps">Python-FSPS</a>, instead!</p>
  <a href="http://mapscale.jonathansick.ca" title="MapScale Documentation"><h2 class="gamma item-header">MapScale</h2></a>
  <p>Embarassingly parallel processing with the ZeroMQ message-passing framework. Replacement for <code>multiprocessing</code>&#8217;s <code>Pool.map()</code>.</p>
</section>
<section class="homepage_section homepage_papers_sec">
  <h1 class="beta">New Papers &amp; Talks</h1>
  <ul class="pubref-list">
    <li>{% pubref published/2013-02-1-skysubpub.yml %}</li>
    <li>{% pubref conference/2012-5-18-androids-princeton.yml %}</li>
    <li>{% pubref published/2011-08-01-ghosts.yml %}</li>
    <li>{% pubref theses/2010-12-10-msc.yml %}</li>
    <li>{% pubref unpublished/2009-12-21-dust.yml %}</li>
  </ul>
</section>
</div>  <!-- /.homepage_content -->

<div class="pagefooterbanner">
  {% include footer.html %}
</div>

{% include googleanalytics.html %}
</body>
</html>
