/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset
@import susy

// Setup Susy grid
$total-columns: 2
$column-width: 4em
$gutter-width: 2em
$grid-passing: $gutter-width
$break: 8

.page
  +container($total-columns, $break)

+at-breakpoint($break)
  .homepage_section
    +span_columns(2, 8)
  .homepage_papers_sec
    +span_columns(2 omega, 8)
