/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset
@import susy

// Setup Susy grid
$total-columns: 1
$column-width: 12em
$gutter-width: 2em
$grid-passing: $gutter-width
$break-demi: 2
$break-full: 4

.page
  +container

  // Half scale site, 4 text columns (8 logical cols)
  +at-breakpoint($break-demi)
    +container

    .homepage_section
      +span_columns(1, $break-demi)
    .homepage_papers_sec, .homepage_androids_sec
      +span_columns(1 omega, $break-demi)

  // Full scale site, 4 text columns (8 logical cols)
  +at-breakpoint($break-full)
    +container

    .homepage_section
      +span_columns(1, $break-full)
    .homepage_papers_sec
      +span_columns(1 omega, $break-full)
