<div class="ads_service_download">
<h2 class='beta no-hyphen'>
  <a class="icon-cloud-download-inside" href="{{ page.download_url }}">v{{ page.version }}</a>
</h2>
<p class='no-hyphen'>Double-click to install into <tt>~/Library/Services</tt>.</p>
<p>Updated {{ page.updated | date: "%b  %d, %Y" }}.</p>
</div>

<div class="ads_cli_download">
<h2 class='beta no-hyphen'>Command-line edition</h2>
<pre><code>pip install -U adsbibdesk
adsbibdesk --help
</code></pre>
<p><a href="http://github.com/jonathansick/ads_bibdesk">Check us out on GitHub</a> to contribute and send Issues.</p>
</div>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://jonathansick.us7.list-manage.com/subscribe/post?u=778d74c674ece21464c87da87&amp;id=ba0adbba44" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<label for="mce-EMAIL">Get emails when we   ship updates</label>
<input type="email" value="" name="EMAIL" class="classemail" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;"><input type="text" name="b_778d74c674ece21464c87da87_ba0adbba44" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
