---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Jonathan Sick" description="Jonathan is a software developer and furniture maker living in Penetanguishene, Canada.">
  <div class="bio-wrapper">
    <p class="bio">Jonathan Sick is a full-stack developer for astronomy projects through <a href="https://www.jsick.codes">J.Sick Codes</a>, his indie studio. He’s pretty handy with a jack plane and dovetail saw.
    </p>
  </div>
</BaseLayout>

<style>
  .bio-wrapper {
    max-width: 40rem;
    margin: auto auto;
    padding: 0 1rem;
  }

  .bio {
    font-size: 2rem;
  }

</style>
