---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <ul>
      <HeaderLink href="/" logo={true}>Jonathan Sick</HeaderLink>
      <HeaderLink href="/about">Is</HeaderLink>
    </ul>
  </nav>
</header>

<style>
  nav {
    font-family: var(--enra-sans-font-family);
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 350;
    font-variation-settings: "wght" 350;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    list-style: none;
  }
</style>
