---
---

<header>
  <nav>
    <ul>
      <li class="logo"><a href="/">Jonathan Sick</a></li>
      <li><a href="/about">Is</a></li>
    </ul>
  </nav>
</header>

<style>
  nav {
    font-family: var(--enra-sans-font-family);
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 350;
    font-variation-settings: "wght" 350;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    list-style: none;
  }

  nav ul a {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.2s ease-in;
  }

  nav ul a:hover {
    color: var(--primary-color);
  }

  .logo {
    font-weight: 500;
    font-variation-settings: "wght" 500;
  }
</style>
