// Structure for jonathansick.ca/index.html ==================================

// Unified grid
$total-columns: 2  // number of columns in mobile design
$column-width: 8em
$gutter-width: 2em

// Number of columns are each breakpoint
$break-demi-cols: 4
$break-full-cols: 8
// Set breakpoint media layouts
// format: http://susy.oddbird.net/guides/reference/#ref-media-layouts
// min ems; use N columns
$break-demi: 4*$column-width $break-demi-cols
$break-full: 8*$column-width $break-full-cols

.homepage_content, .pagefooter
  +container
  +susy-grid-background

  // Half scale site, 2 text columns
  +at-breakpoint($break-demi)
    +set-container-width

  // Full scale site, 4 text columns
  +at-breakpoint($break-full)
    +set-container-width

// Demi layout
+at-breakpoint($break-demi)
  .homepage_content, .pagefooter
    +susy-grid-background
  .homepage_section
    +span_columns(2, $break-demi-cols)
    // background-color: orange
  .homepage_papers_sec, .homepage_androids_sec
    +span_columns(2 omega, $break-demi-cols)
  // Footer grid
  .footernav
    +span_columns(2, $break-demi-cols)
  .credits
    +span_columns(2 omega, $break-demi-cols)

// Full layout
+at-breakpoint($break-full)
  .homepage_content, .pagefooter
    +susy-grid-background
  .homepage_section
    +span_columns(2, $break-full-cols)
    // background-color: red
  .homepage_papers_sec
    +span_columns(2 omega, $break-full-cols)
  // Footer grid
  .footernav
    +pre(4)
    +span_columns(2, $break-full-cols)
  .credits
    +span_columns(2 omega, $break-full-cols)

// TODO refactor into general .sitenav ul used by pubpage
.homepage_bannernav ul
  +horizontal_list(1em)
