// Styling for the publications page

// Publications Page Grid ===================================================
$total-columns: 4  // n cols in mobile layout
$column-width: 6em
$gutter-width: 2em
$break-cols: 8
$break: $break-cols  // full size media layout

// Organize the container at each breakpoint
.pubpage, .sitebanner, .pagefooterbanner, .pageheader
  +container
  +at-breakpoint($break)
    +set-container-width


// Lay out columns for the full-size breakpoint
+at-breakpoint($break)
  // site header layout
  .site-header
    +span_columns(2, $break-cols)
  .site-nav
    +post(2, $break-cols)
    +span_columns(4 omega, $break-cols)
  // page header layout
  .page-hgroup
    +pre(2, $break-cols)
    +span_columns(6 omega, $break-cols)  // full width
  // pubpage layout (TODO really means page content area)
  .pagetoc
    +span_columns(2, $break-cols)
    // TODO be more specific in 
    ul li
      display: block
  .pagemain
    +span_columns(4, $break-cols)
  // page footer layout
  .footernav, .sitecredits
    +pre(2, $break-cols)
    +post(2, $break-cols)
    +span_columns(4, $break-cols)

  // Transformations for the site-nav
  .sitenav ul
    +horizontal_list(1em)
    text-align: right
    float: right

// Tricks for site-header logo type
// invisible for mobile; visible for full site
.site-header
  display: none
+at-breakpoint($break)
  // Make my logo face visible
  .site-header
    display: block

// Lay out pagetoc
.pagetoc ul
  +horizontal_list(1em)
// Undo the horizontal list when past breakpoint
+at-breakpoint($break)
  .pagetoc
    ul li
      display: block
      float: none
      margin-left: 0
      padding-left: 0
      white-space: nowrap

// Never wrap my logo text
.site-header h1
  white-space: nowrap
