// Typography for the site ===================================================

// Base font size of 18 px, lineheight of 25.5 pixels
$base-font-size: 17px
$line-height-ratio: 1.5
$base-line-height: $line-height-ratio * $base-font-size / 16px
$rem-ratio: $base-font-size / 1rem

// Utility mixin for sizing in rem with px fallback
// http://stackoverflow.com/questions/6927007/how-do-you-remove-units-of-measurement-from-a-sass-mixin-equation
// Usage: rem(font-size,14px)
=rem($key, $px)
  #{$key}: $px
  #{$key}: $px/$rem-ratio

// Helper for making centered horizontal lists for navigation
=my-centered-nav-list
  +horizontal_list(1em)
  display: inline-block
  margin-left: auto
  margin-right: auto

// The font size for html is our root (rem) font size
html
  font-size: $base-font-size
body
  +rem(font-size, $base-font-size)
  line-height: $base-line-height
  +hyphenation

// Vertical rythm using rems and margin-bottom
// https://github.com/csswizardry/hry.rbrts.me/blob/master/css/style.css#LC152
// http://csswizardry.com/2011/12/measuring-and-sizing-uis-2011-style/
h1,h2,h3,h4,h5,h6,article,p,ul,ol,dl,table,.pagetoc,.sitebannerwrapper,.homepagebannerwrapper,nav
  +rem(margin-bottom, $line-height-ratio * $base-font-size)

// Typekit kit: jsickweb =====================================================
=skolar
  font-family: "skolar", "Lucida Bright", Georgia, serif
  font-style: normal
  font-weight: 400
=skolar-it
  +skolar
  font-style: italic
=skolar-bold
  +skolar
  font-weight: 700
=skolar-bold-it
  +skolar
  font-weight: 700
  font-style: italic
=museo-slab-heavy
  font-family: "museo-slab", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-style: normal
  // this is still museo-slab 1000
  font-weight: 900
=museo-slab-700
  font-family: "museo-slab", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-style: normal
  font-weight: 700
=museo-slab-900
  font-family: "museo-slab", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-style: normal
  font-weight: 800
=proxima-nova-semi
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-style: normal
  font-weight: 600
=source-code-pro
  font-family: "source-code-pro", Menlo, Consolas, "Lucida Console", monospace
  font-style: normal
  font-weight: 400

// Basic links ===============================================================
a
  +link-colors($link-color, $hover-color, $visited-color)
  +hover-link

// Headlines =================================================================

// optimizeLegibility forces the use of a font's native kerning, but
// may create performance drawbacks, so don't use for body fonts
h1, h2, h3, h4, h5, h6
  text-rendering: optimizeLegibility

// Header size hierarchy
// http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/
h1, .alpha
  +rem(font-size, $base-font-size * 2.18)
  +museo-slab-heavy
h2, .beta
  +rem(font-size, $base-font-size * 1.64)
  +museo-slab-heavy
h3, .gamma
  +rem(font-size, $base-font-size * 1.45)
  +skolar-bold-it
h4, .delta
  +rem(font-size, $base-font-size * 1.18)
  +skolar-bold
h5, .epsilon
  +rem(font-size, $base-font-size * 1.1)
  +skolar-it
h6, .zeta
  +rem(font-size, $base-font-size * 1.0)
  +skolar
  text-transform: uppercase

// Use divider-header to provide a typographical break with a flourish
// combine with any regular header
// TODO maybe use sone nicer typography, or longer lines here?
.divider-header
  text-align: center
.divider-header:before
  content: "— "
.divider-header:after
  content: " —"

// Use .iterm-header for headings that appear in list-like environments
// These collapse the margin to whatever appears below
// TODO maybe this should be a mixin instead?
.item-header
  margin-bottom: 0

// Paragraphs ================================================================
body
  +skolar

em
  font-style: italic

strong
  font-style: bold

// Source code ===============================================================
code,pre,samp,kdb
  +source-code-pro

// Site banner styling =======================================================
// These are for text in the very top of a page
.sitenav, .page-sitelogo h1, .homepage_bannernav ul
  +rem(font-size, $base-font-size * 1.0)
  // +proxima-nova-semi
  // +skolar-bold
  +museo-slab-700
  // +skolar
  letter-spacing: 0.1em
  text-transform: uppercase
  color: #FFFFFF

  a
    +unstyled-link
    +link-colors($reverse-link-color, $reverse-hover-color, $reverse-visited-color)
    &:hover
      border-bottom: $visited-color
      border-bottom-width: 3px
      border-style: solid
    &:active
      border-bottom: $hover-color
      border-bottom-width: 3px
      border-style: solid

.page-sitelogo h1, .sitenav
  text-align: center


// Homepage styling ==========================================================
.homepagesitebanner
  color: #FFFFFF
.homepage_header h1
  +rem(font-size, $base-font-size * 4.0)

// Publication list styling ==================================================
// Outdent paragraph with bibliographic information
.publist p
  margin-left: 1em
  text-indent: -1em

// Icon lists ================================================================
// i.e. the icon list on homepage
.icon-col
  width: 2em
