// Typography for the site ===================================================

// Base font size of 18 px, lineheight of 27 pixels
$base-font-size: 18px
$line-height-ratio: 1.5
$base-line-height: $line-height-ratio * $base-font-size / 16px
$rem-ratio: $base-font-size / 1rem

// Utility mixin for sizing in rem with px fallback
// http://stackoverflow.com/questions/6927007/how-do-you-remove-units-of-measurement-from-a-sass-mixin-equation
// Usage: rem(font-size,14px)
=rem($key, $px)
  #{$key}: $px
  #{$key}: $px/$rem-ratio

// The font size for html is our root (rem) font size
html
  font-size: $base-font-size
body
  +rem(font-size, $base-font-size)
  line-height: $base-line-height

// Vertical rythm using rems and margin-bottom
// https://github.com/csswizardry/hry.rbrts.me/blob/master/css/style.css#LC152
// http://csswizardry.com/2011/12/measuring-and-sizing-uis-2011-style/
h1,h2,h3,h4,h5,h6,article,p,ul,ol,dl
  +rem(margin-bottom, $line-height-ratio * $base-font-size)

// Typekit kit: jsickweb =====================================================
=skolar
  font-family: "skolar", "Lucida Bright", Georgia, serif
  font-style: normal
  font-weight: 400
=skolar-it
  +skolar
  font-style: italic
=skolar-bold
  +skolar
  font-weight: 700
=skolar-bold-it
  +skolar
  font-weight: 700
  font-style: italic
=museo-slab-heavy
  font-family: "museo-slab", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-style: normal
  // this is still museo-slab 1000
  font-weight: 900
=proxima-nova-semi
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-style: normal
  font-weight: 600
=source-code-pro
  font-family: "source-code-pro", Menlo, Consolas, "Lucida Console", monospace
  font-style: normal
  font-weight: 400

// Headlines =================================================================

// optimizeLegibility forces the use of a font's native kerning, but
// may create performance drawbacks, so don't use for body fonts
h1, h2, h3, h4, h5, h6
  text-rendering: optimizeLegibility

// Header size hierarchy
// http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/
h1, .alpha
  +rem(font-size, $base-font-size * 2.18)
  +museo-slab-heavy
h2, .beta
  +rem(font-size, $base-font-size * 1.64)
  +museo-slab-heavy
h3, .gamma
  +rem(font-size, $base-font-size * 1.45)
  +skolar-bold-it
h4, .delta
  +rem(font-size, $base-font-size * 1.18)
  +skolar-bold
h5, .epsilon
  +rem(font-size, $base-font-size * 1.1)
  +skolar-it
h6, .zeta
  +rem(font-size, $base-font-size * 1.0)
  +skolar
  text-transform: uppercase

// Use divider-header to provide a typographical break with a flourish
// combine with any regular header
// TODO maybe use sone nicer typography, or longer lines here?
.divider-header
  text-align: center
.divider-header:before
  content: "— "
.divider-header:after
  content: " —"

// Paragraphs ================================================================
body
  +skolar

em
  font-style: italic

strong
  font-style: bold

// Source code ===============================================================
code,pre,samp,kdb
  +source-code-pro
