---
layout: publications
title: Publications
---
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<!-- The jsickweb kit --> 
<script type="text/javascript" src="//use.typekit.net/jxq8dyb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<title> {% if page.title %} {{ page.title }} | {% endif %} Jonathan Sick </title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" media="screen, projection" href="/assets/css/screen.css" type="text/css" />
</head>
<body id="publicationspage">

<div class="sitebannerwrapper">
<div class="sitebanner">
<hgroup class="page-sitelogo">
<h1><a href="/index.html" title="to Homepage">Jonathan Sick</a></h1>
</hgroup>
<nav class="sitenav">
<ul>
  <li><a href="http://blog.jonathansick.ca" title="Jonathan Sick's Blog">Blog</a></li>
  <li><a href="http://github.com/jonathansick" title="Jonathan Sick's Public Code Portfolio">GitHub</a></li>
  <li><a href="/publications.html" title="Jonathan Sick's Publications and Talks">Publications</a></li>
</ul>
</nav>
</div> <!-- /.sitebanner -->
</div> <!-- /.sitebannerwrapper -->


<section class="page">

<hgroup class="page-hgroup">
<h1 class="alpha">Jonathan Sick&#8217;s Publications</h1> 
<!-- A lede paragraph goes here -->
</hgroup>

<nav class="pagetoc">
<ul>
  <li><a href="#theses">Theses</a></li>
  <li><a href="#published">Published</a></li>
  <li><a href="#conference">Conferences</a></li>
  <li><a href="#unpublished">Unpublished</a></li>
  <li><a href="#talks">Talks</a></li>
</ul>
</nav>

<section class="pagemain">
<a name=theses></a><h2 class="beta">Theses</h2>
<ul class=publist>
    {% for pub in page.theses %}
    <li>
    <a name={{ pub.key }}></a>
    <h3 class="delta item-header">{{ pub.title }}</h3>
    <p><span class=me>Sick, Jonathan</span>
    ({{ pub.date | date: '%Y' }}).
    {{ pub.level }} Thesis.
    Advised by {{ pub.advisor }}.
    {{ pub.school }}.</p>
    </li>
    {% endfor %}
</ul>

<a name=published></a><h2 class="hbeta">Published Articles</h2>
<ul class=publist>
    {% for pub in page.published %}
    <li>
    <a name={{ pub.key }}></a>
    <h3 class="delta item-header">{{ pub.title }}</h3>
    <p>{{ pub.authors | array_to_sentence_string }}
    ({{ pub.date | date: '%Y' }}).
    <span class=journal>{{ pub.journal}}</span>, {{ pub.volume }} {{ pub.number }}.
    {% for link in pub.links %}
        <a href="{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}</p>
    </li>
    {% endfor %}
</ul>

<a name=conference></a><h2 class="hbeta">Conference Contributions</h2>
<ul class=publist>
    {% for pub in page.conference %}
    <li>
    <a name={{ pub.key }}></a>
    <h3 class="delta item-header">{{ pub.title }}</h3>
    <p>{{ pub.authors | array_to_sentence_string }}
    ({{ pub.date | date: '%Y' }}).
    {{ pub.conf }}
    {% for link in pub.links %}
        <a href="{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}</p>
    </li>
    {% endfor %}
</ul>

<a name=unpublished></a><h2 class="hbeta">Unpublished Articles</h2>
<ul class=publist>
    {% for pub in page.unpublished %}
    <li>
    <a name={{ pub.key }}></a>
    <h3 class="delta item-header">{{ pub.title }}</h3>
    <p>{{ pub.authors | array_to_sentence_string }}
    ({{ pub.date | date: '%Y' }}).
    {{ pub.note }}
    {% for link in pub.links %}
    <a href="{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}</p>
    </li>
    {% endfor %}
</ul>

<a name=talks></a><h2 class="hbeta">Talks</h2>

<ul class=publist>
    {% for pub in page.talks %}
    <li>
    <a name={{ pub.key }}></a>
    <h3 class="delta item-header">{{ pub.title }}</h3>
    <p>{{ pub.authors | array_to_sentence_string }}.
    {{ pub.note }}, {{ pub.date | date: '%B %d, %Y' }}.
    {% for link in pub.links %}
    <a href="{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}</p>
    </li>
    {% endfor %}
</ul>
</section> <!-- /.pagemain -->
</section> <!-- /.page -->

<div class="pagefooterbanner">
  {% include footer.html %}
</div>

<script>var _gaq=[["_setAccount","UA-2358724-2"],["_trackPageview"]];(function(e,a){var c=e.createElement(a),b=e.getElementsByTagName(a)[0];c.async=true;c.src="//www.google-analytics.com/ga.js";b.parentNode.insertBefore(c,b)})(document,"script");</script>
</body>
</html>
