---
layout: publications
title: Publications
---
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<!-- The jsickweb kit --> 
<script type="text/javascript" src="//use.typekit.net/jxq8dyb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<title> {% if page.title %} {{ page.title }} | {% endif %} Jonathan Sick </title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" media="screen, projection" href="/assets/css/screen.css" type="text/css" />
</head>
<body id="publicationspage">

<div class="sitebannerwrapper">
<div class="sitebanner">
<header class="site-header">
<h1>Jonathan Sick</h1>
</header>
<nav class="sitenav">
<ul>
    <li>Blog</li>
    <li>GitHub</li>
    <li>Publications</li>
</ul>
</nav>
</div> <!-- /.sitebanner -->
</div> <!-- /.sitebannerwrapper -->


<div class="pageheader">
<hgroup class="page-hgroup">
<h1 class="alpha">Jonathan Sick&#8217;s Publications</h1> 
</hgroup>
</div> <!-- /.pageheader -->

<div class="page">

<nav class="pagetoc">
<ul>
    <li>Theses</li>
    <li>Published</li>
    <li>Conferences</li>
    <li>Unpublished</li>
    <li>Talks</li>
</ul>
</nav>

<section class="pagemain">
<a name=theses></a><h2 class="beta">Theses</h2>
<ul class=publist>
    {% for pub in page.theses %}
    <li>
    <a name={{ pub[0] }}></a>
    <h3 class="delta item-header">{{ pub[1].title }}</h3>
    <p><span class=me>Sick, Jonathan</span>
    ({{ pub[1].date | date: '%Y' }}).
    {{ pub[1].level }} Thesis.
    Advised by {{ pub[1].advisor }}.
    {{ pub[1].school }}.</p>
    </li>
    {% endfor %}
</ul>

<a name=published></a><h2 class="hbeta">Published Articles</h2>
<ul class=publist>
    {% for pub in page.published %}
    <li>
    <a name={{ pub[0] }}></a>
    <h3 class="delta item-header">{{ pub[1].title }}</h3>
    <p>{{ pub[1].authors | array_to_sentence_string }}
    ({{ pub[1].date | date: '%Y' }}).
    <span class=journal>{{ pub[1].journal}}</span>, {{ pub[1].volume }} {{ pub[1].number }}.
    {% for link in pub[1].links %}
        <a href="{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}</p>
    </li>
    {% endfor %}
</ul>

<a name=conference></a><h2 class="hbeta">Conference Contributons</h2>
<ul class=publist>
    {% for pub in page.conference %}
    <li>
    <a name={{ pub[0] }}></a>
    <h3 class="delta item-header">{{ pub[1].title }}</h3>
    <p>{{ pub[1].authors | array_to_sentence_string }}
    ({{ pub[1].date | date: '%Y' }}).
    {{ pub[1].conf }}
    {% for link in pub[1].links %}
        <a href="{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}</p>
    </li>
    {% endfor %}
</ul>

<a name=unpublished></a><h2 class="hbeta">Unpublished Articles</h2>
<ul class=publist>
    {% for pub in page.unpublished %}
    <li>
    <a name={{ pub[0] }}></a>
    <h3 class="delta item-header">{{ pub[1].title }}</h3>
    <p>{{ pub[1].authors | array_to_sentence_string }}
    ({{ pub[1].date | date: '%Y' }}).
    {{ pub[1].note }}
    {% for link in pub[1].links %}
    <a href="{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}</p>
    </li>
    {% endfor %}
</ul>

<a name=talks></a><h2 class="hbeta">Talks</h2>

<ul class=publist>
    {% for pub in page.talks %}
    <li>
    <a name={{ pub[0] }}></a>
    <h3 class="delta item-header">{{ pub[1].title }}</h3>
    <p>{{ pub[1].authors | array_to_sentence_string }}.
    {{ pub[1].note }}, {{ pub[1].date | date: '%B %d, %Y' }}.
    {% for link in pub[1].links %}
    <a href="{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}</p>
    </li>
    {% endfor %}
</ul>
</section>
</div> <!-- /.page -->

<div class="pagefooterbanner">
<!-- <div class="pagefooter"> -->
<footer class="pagefooter">
<nav class="footernav">
  <ul>
    <li>jonathansick.ca</li>
    <li>Blog</li>
    <li>Gallery</li>
  </ul>
</nav>
<div class="credits">
  <ul>
    <li>Copyright 2012 Jonathan Sick, all rights reserved.</li>
    <li>Typeset in Skolar and Museo Slab by Typekit.</li>
  </ul>
</div>
<!-- </div> -->
</footer>
</div>

</body>
</html>
