---
layout: publications
title: Publications
---
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title> {% if page.title %} {{ page.title }} | {% endif %} Jonathan Sick </title>
<link rel="stylesheet" media="screen, projection" href="/assets/css/screen.css" type="text/css" />
</head>
<body id="interiorpage">
<div id="pagebanner">
<header id="page_header">
<h1>Jonathan Sick</h1>
<nav id="bannernav">
<ul>
    <li>Blog</li>
    <li>GitHub</li>
    <li>Publications</li>
</ul>
</nav>
</header>
</div> <!-- /#pagebanner -->

<section>
<h1>Publications</h1>

<h2>Published Articles</h2>
<ul>
    {% for pub in page.published %}
    <li>
    {{ pub[1].title }}.
    {{ pub[1].authors | array_to_sentence_string }}
    ({{ pub[1].date | date: '%Y' }}).
    {{ pub[1].journal}}, {{ pub[1].volume }} {{ pub[1].number }}.
    {% for link in pub[1].links %}
        <a href="{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}
    </li>
    {% endfor %}
</ul>

<h2>Conference Contributons</h2>
<ul>
    {% for pub in page.conference %}
    <li>
    {{ pub[1].title }}.
    {{ pub[1].authors | array_to_sentence_string }}
    ({{ pub[1].date | date: '%Y' }}).
    {{ pub[1].conf }}
    {% for link in pub[1].links %}
        <a href="{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}
    </li>
    {% endfor %}
</ul>

<h2>Unpublished Articles</h2>
<ul>
    {% for pub in page.unpublished %}
    <li>
    {{ pub[1].title }}.
    {{ pub[1].authors | array_to_sentence_string }}
    ({{ pub[1].date | date: '%Y' }}).
    {{ pub[1].note }}
    {% for link in pub[1].links %}
    <a href="{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}
    </li>
    {% endfor %}
</ul>

<h2>Talks</h2>
<ul>
    {% for pub in page.talks %}
        <li>{{ pub[1].title }}</li>
    {% endfor %}
</ul>
</section>

<div id="pagefooterbanner">
<footer id="pagefooter">
<nav id="footernav">
  <ul>
    <li>jonathansick.ca</li>
    <li>Blog</li>
    <li>Gallery</li>
  </ul>
</nav>
<div id="credits">
  <ul>
    <li>Copyright 2012 Jonathan Sick, all rights reserved.</li>
    <li>Typeset in Skolar and Museo Slab by Typekit.</li>
  </ul>
</div>
</footer>
</div>
</body>
</html>
