---
/* Base layout that all other layouts can inherit from. */
import "../styles/global.css";

import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ed2024" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="https://use.typekit.net/uqc2peb.css" />
    <meta name="og:site_name" content="Jonathan Sick" />
    <meta name="og:description" content={description} />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <div class="content">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }

  .content {
    flex: 1; /* content expands to fill the page; creating a sticky footer. */
  }
</style>
